repos:
    -   repo: https://github.com/PyCQA/flake8
        rev: 7.1.2
        hooks:
            -   id: flake8
                additional_dependencies: [flake8-docstrings, flake8-blind-except]